@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

figure {
	position: relative;
	width: 100%;
	height: 60%;
	margin: 0!important;
}
.active{
  background-color: rgb(100, 175, 255);
}
.btn:active{
	border-color:white;
	border: 1px;
}
.fixed-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.custom-toggler.navbar-toggler {
    border-color: rgb(0,0,0);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
[class*="col-"] {
	padding: 1rem;
}

.container {
	text-align: center;
	padding: 2%;
	width: 75%;
}

.btnRegister {
	border-radius: 4px;
}

.navbar {
	border-bottom: 2px;
	border-color: white;
}
