<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle pull-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="float: right;">
			Translate
			</button>
		</div>
		<h1 class="display-4">Update your password</h1>
		<hr>
			<form action = "chng" method="POST">
				<div class="row login-form justify-content-lg-center">
						
					<div class="col-lg-5">
						<div class="form-group">
							<input type="email" name="username" class="form-control" placeholder="Email" value="" />
						</div>
						<div class="form-group">
							<input type="text" name="answer" class="form-control" placeholder="Security Question Answer" value="" />
						</div>
						<div class="form-group">
							<input type="password" name="password" class="form-control" placeholder="New Password" value="" />
						</div>
						<div class="form-group">
							<input type="password" name="passwordCheck" class="form-control" placeholder="Repeat Password" value="" />
						</div>
								
						<input type="submit" class="btnLogIn"  value="Submit"/>
					</div>
				</form>
            </div>	
	</div>
</div>
</div>