<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<div class="dropdown">
				<button class="btn btn-primary dropdown-toggle pull-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="float: right;">
				Translate
				</button>
			</div>
			<h1 class="display-4">Chat page</h1>
			<hr>
				
			<script>
			(function(t,a,l,k,j,s){
			s=a.createElement('script');s.async=1;s.src="https://cdn.talkjs.com/talk.js";a.head.appendChild(s)
			;k=t.Promise;t.Talk={v:1,ready:{then:function(f){if(k)return new k(function(r,e){l.push([f,r,e])});l
			.push([f])},catch:function(){return k&&new k()},c:l}};})(window,document,[]);
			</script>

			<!-- container element in which TalkJS will display a chat UI -->
			<div id="talkjs-container" style="width: 90%; margin: 30px; height: 500px"><i>Loading chat...</i></div>

			<!-- TalkJS initialization code, which we'll customize in the next steps -->
			<script>
			Talk.ready.then(function() {
				var me = new Talk.User({
					id: "1",
					name: "Taylor",
					email: "taylordanielgreen@gmail.com",
					welcomeMessage: "Hey there! How are you? :-)"
				});
				window.talkSession = new Talk.Session({
					appId: "tco6J1V4",
					me: me
				});
				var other = new Talk.User({
					id: "2",
					name: "Sebastian",
					email: "Sebastian@example.com",
					photoUrl: "https://demo.talkjs.com/img/sebastian.jpg",
					welcomeMessage: "Hey, how can I help?"
				});

				var conversation = talkSession.getOrCreateConversation(Talk.oneOnOneId(me, other))
				conversation.setParticipant(me);
				conversation.setParticipant(other);
				var inbox = talkSession.createInbox({selected: conversation});
				inbox.mount(document.getElementById("talkjs-container"));
			});
			</script>
		</div>
	</div>
</div>