<style>
.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 50%;
	border: none;
	text-align: center;
	outline: none;
	font-size: 15px;
}

.drop, .collapsible:hover {
	background-color: #555;
}

.content {
	max-height: 0;
	width: 50%;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
	text-align: center;
}

.collapsible:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: white;
	float: right;
	margin-left: 5px;
}

.drop:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.center-class {
	text-align: center;
}
</style>

<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">Games page!</h1>
			<hr>

			<div>
				<p class="lead">This is a multilingual noticeboard created by team WeCAN
				for our Capstone Project. We aim to make a noticeboard to support any type
				of plugin and provde the user of the site with a manual of how to use it
				them selves.</p>
			</div>
		</div>
	</div>
</div>

<form class="center-class" name="gamesForm" action="/games" method="post" style="margin-bottom: 40px">
	<input class="collapsible" style="border-bottom: 1px solid" type="submit" name="gameChoose" value="cats1010" />
	<% if(game == 'cats1010') { %>
	<div>
		<script src="https://cdn.htmlgames.com/embed.js?game=Cats1010&amp;&amp;bgcolor=white" widht="300" height="300"></script>
	</div>
	<% } %>

	<input class="collapsible" style="border-bottom: 1px solid" type="submit" name="gameChoose" value="KillerSudoku" />
	<% if(game == 'KillerSudoku') { %>
	<div>
		<script src="https://cdn.htmlgames.com/embed.js?game=KillerSudoku&amp;&amp;bgcolor=white"></script>
	</div>
	<% } %>

	<input class="collapsible" style="border-bottom: 1px solid" type="submit" name="gameChoose" value="rapidMath" />
	<% if(game == 'rapidMath') { %>
	<div>
		<script src="https://cdn.htmlgames.com/embed.js?game=RapidMath&amp;&amp;bgcolor=white"></script>
	</div>
	<% } %>

	<input class="collapsible" style="border-bottom: 1px solid" type="submit" name="gameChoose" value="mathFun" />
	<% if(game == 'mathFun') { %>
	<div>
		<script src="https://cdn.htmlgames.com/embed.js?game=MathFun&amp;&amp;bgcolor=white"></script>
	</div>
	<% } %>
</form>
