<!doctype html>
<html lang="en-us">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Multilingual noticeboard</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
      <!-- jQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="style.css" rel="stylesheet">
	    <script src="readmore.js"></script>
	    <link href="hovercard.css" rel="stylesheet">
    </head>
    <body>

		<!-- Navigation -->
		<nav class="navbar navbar-expand-md navbar-dark bg-primary" id="nav">
		<div class="container-fluid">
			<a class="navbar-brand" href="home"><img src="img/QUTbanner.png" height="45px"></a>
			<button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
                  <li
                    <% if (page_name === 'home') { %>class="nav-item active" <% } %> >
                    <a class="nav-link" href="/home">Home</a>
                  </li>
                  <li
                    <% if (page_name === 'chat') { %>class="nav-item active" <% } %> >
                    <a class="nav-link" href="/chat">Chat Room</a>
                  </li>
                  <li
                    <% if (page_name === 'learning-materials') { %>class="nav-item active" <% } %> >
                    <a class="nav-link" href="/learning-materials">Learning Materials</a>
                  </li>
                  <li
                    <% if (page_name === 'video') { %>class="nav-item active" <% } %> >
                    <a class="nav-link" href="/video">Watch Videos</a>
                  </li>
                  <li
                    <% if (page_name === 'games') { %>class="nav-item active" <% } %> >
                    <a class="nav-link" href="/games">Educational games</a>
                  </li>
                  <li
                    <% if (page_name === 'tutor-request') { %>class="nav-item active" <% } %> >
                    <a class="nav-link" href="/tutor-request">Request for tutoring</a>
                  </li>
                  <li
                    <% if (page_name === 'statistics') { %>class="nav-item active" <% } %> >
                    <a class="nav-link" href="/statistics">Statistics</a>
                  </li>

                    <% if (!logged_in) { %>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Login
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/login" style="border-bottom: 1px solid; margin-bottom: 2px">Login</a>
                                <a class="dropdown-item" href="/register">Register</a>
                            </div>
                        </div>
                    <% } else { %>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <%= u_name %>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/profile" style="border-bottom: 1px solid; margin-bottom: 2px">Profile</a>
                                <a class="dropdown-item" href="/logout">Log out</a>
                            </div>
                        </div>
                    <% } %>
                  <li>
            		<div class="dropdown" id="google_translate_element" style="margin-left: 15px; margin-right: 15px; margin-top: 5px;"></div>
                  </li>
				</ul>
			</div>
		</div>
		</nav>

		<%- body %>

		<!-- footer -->
		<footer id="footer">
			<div class="footer-bottom bg-primary">
				<div class="container" style="color:white;">
					<div class="row">
						<div class="col-md-5 col-md-5 footer-info">
							<a href="https://qut.edu.au">
								<img src="img/QUT.jpg" id="footerImg" style="max-width:150px;"/>
							</a>
							<p> This is a multilingual noticeboard created by team WeCAN
								for our Capstone Project. We aim to make a noticeboard to support any type
								of plugin and provde the user of the site with a manual of how to use it
								them selves.
							</p>
						</div>
						<div class="col-lg-2 col-md-4 footer-links">
							<h4>Useful links</h4>
							<ul>
								<li><a href="https://qut.edu.au" style="color:white;">QUT Home</a></li>
								<li><a href="https://blackboard.qut.edu.au" style="color:white;">QUT Blackboard</a></li>
								<li><a href="https://www.qut.edu.au/study/applying" style="color:white;">Applying to QUT</a></li>
							</ul>
						</div>
						<div class="col-lg-5 col-md-5 fotter-contact">
							<h3>Contact Us</h3>
							<p>
								<strong>Team:</strong> WeCAN<br>
								<strong>Phone:</strong> +61 123 456 789<br>
								<strong>Email:</strong> contactus@someemail.com.au<br>
							</p>
							<div class="social-links">
								<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" class="twitter"><i class="fa fa-facebook"></i></a>
								<a href="#" class="twitter"><i class="fa fa-instagram"></i></a>
								<a href="#" class="twitter"><i class="fa fa-google-plus"></i></a>
								<a href="#" class="twitter"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
    </body>
    <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</html>
