<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4" class="justify-content-lg-center">Login page</h1>
			<form action="auth" method="POST">
				<div class="row login-form justify-content-lg-center">
					<div class="col-lg-5">
						<div class="form-group">
							<input type="email" name="email" class="form-control" placeholder="Email" value="" required />
						</div>
						<div class="form-group">
							<input type="password" name="password" class="form-control" placeholder="Password" value="" required />
						</div>

						<input type="submit" class="btnLogIn"  value="Log In"/>

						<div>
							<a href="/register"><input type="button" class="btn btn-primary" value="Register" /></a>
						</div>
						<a href = "changepass.html">Forgot password?</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
