<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle pull-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="float: right;">
			Translate
			</button>
		</div>
		<h1 class="display-4">Statistics page!</h1>
		<hr>
				
		<div>
			<p class="lead">This page will show user statistics such as number of uploaded posts, active users, user genders etc.</p>
		</div>
	</div>
</div>
</div>