<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<h1 class="display-4">Tutor request</h1>
		<hr>

		<div>
			<p class="lead">This website will allow students to get help with courses at QUT from online tutors. </p>
		</div>

		<form action="tutorrequest" method="POST">
				<div class="row login-form justify-content-lg-center">
					<div class="col-lg-5">
						<div class="form-group">
							<input name="subject" class="form-control" placeholder="Subject" value="" required />
						</div>
						<div class="form-group">
							<textarea name="request" class="form-control" placeholder="Request Information" rows="10" value="" required /></textarea>
						</div>

						<input type="submit" class="btnLogIn"  value="Submit"/>
					</div>
				</div>
			</div>
		</form>

	</div>
</div>
</div>
