<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Multilingual noticeboard</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="style.css" rel="stylesheet">

		<script src="readmore.js"></script>
		<link href="hovercard.css" rel="stylesheet">
    </head>
    <body>

		<!-- Navigation -->
		<nav class="navbar navbar-expand-md navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="home.html"><img src="img/QUTbanner.png" height="45px"></a>
			<button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="home.html">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="chat.html">Chat room</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="learning-materials.html">Learning materials</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="video.html">Video</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="games.html">Games</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="tutor-request.html">Request for tutoring</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="statistics.html">Statistics</a>
					</li>
					<li>
						<a href="login.html"><button class="btn btn-primary active" type="button">Login</button></a>
					</li>
				</ul>
			</div>
		</div>
		</nav>
		

		
		<!-- Welcome message / news -->
		<div class="container-fluid padding">
			<div class="row welcome text-center">
				<div class="col-12">
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle pull-right" type="button" id="chosenLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="float: right;">
						Translate
						</button>
					</div>
					<h1 class="display-4">Welcome to QUT's multilingual noticeboard!</h1>
					<hr>
				
					<div>
						<p class="lead">This is a multilingual noticeboard created by team WeCAN 
						for our Capstone Project. We aim to make a noticeboard to support any type
						of plugin and provde the user of the site with a manual of how to use it
						them selves.</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Noticeboard -->
		<hr>
		<button type="button" class="open-button fa fa-plus fa-2x" onclick="openForm()"></button>

		<div class="form-popup" id="createNoticeboardPost" style="width: 50%;">
			<form class="form-container" style="width:100%;" method="POST" action="newpost">
				<h1>Write on the noticeboard</h1>
				<div class="column">
					<div class="row">
						<label for="email"><b>Topic</b></label>
					</div>
					<div class="row">
						<input type="text" name="topic" id="postTopic" required>
					</div>
					<div class="row">
						<label for="content"><b>Content</b></label>
					</div>
					<div class="row">
						<input type="text" name="content" id="postContent" required>
					</div>
					<div class="row" style="float: right;">
						<button type="submit" class="btn-primary" value="Click here to submit your post">Post</button>
						<button type="submit" class="btn-grey" onclick="closeForm()">Close</button>
					</div>
				</div>
			</form>
		</div>

		<script>
			function openForm() {
			  document.getElementById("createNoticeboardPost").style.display = "block";
			}

			function closeForm() {
			  document.getElementById("createNoticeboardPost").style.display = "none";
			}
		</script>

		<!-- Noticeboard featured and all posts -->
		<div id="tabsView">
			<ul class="nav nav-tabs justify-content-center">
				<li class="nav-item active" id="featuredPosts">
					<a class="nav-link active" href="#">Featured</a>
				</li>
				<li class="nav-item" id="allPosts">
					<a class="nav-link" href="#">The noticeboard</a>
				</li>
			</ul>
		</div>
		<div id="tabsElements">
			
		</div>

		<p action="test"></p>
		
		<h4 class="lead text-center">Featured posts</h4>
		<div class="container pb-3" style="border: 1px solid; padding: 0; border-left: none; border-right: none;">
			<div class="col-12 px-5">
				<div class="card" onclick="showPost(1)">
					<div class="card-header bg-primary text-center text-white">
					This is the headline
					</div>
					<div class="card-body">
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					<span id="dots1">...</span><span id="showMore1" style="display: none;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
					sunt in culpa qui officia deserunt mollit anim id est laborum.
					</span></p>
					</div>
				</div>
			</div>
			<div class="col-12 px-5">
				<div class="card" onclick="showPost(2)">
					<div class="card-header bg-primary text-center text-white">
					This is the headline
					</div>
					<div class="card-body">
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					<span id="dots2">...</span><span id="showMore2" style="display: none;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
					sunt in culpa qui officia deserunt mollit anim id est laborum.
					</span></p>
					</div>
				</div>
			</div>
		</div>

		
		<div class="container" style="border: 1px solid; border-left: none; border-right: none;">
			<h4 class="lead text-center">Recent posts</h4>
			<div class="col-12 px-5 px-0">
				<div class="card" onclick="showPost(3)">
					<div class="card-header bg-primary text-center text-white">
					This is the headline
					</div>
					<div class="card-body">
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					<span id="dots3">...</span><span id="showMore3" style="display: none;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
					sunt in culpa qui officia deserunt mollit anim id est laborum.
					</span></p>
					</div>
				</div>
			</div>
			<div class="col-12 px-5">
				<div class="card" onclick="showPost(4)">
					<div class="card-header bg-primary text-center text-white">
					This is the headline
					</div>
					<div class="card-body">
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					<span id="dots4">...</span><span id="showMore4" style="display: none;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
					sunt in culpa qui officia deserunt mollit anim id est laborum.
					</span></p>
					</div>
				</div>
			</div>
		</div>

		<!-- footer -->
		<footer id="footer">
			<div class="footer-bottom bg-primary">
				<div class="container" style="color:white;">
					<div class="row">
						<div class="col-md-5 col-md-5 footer-info">
							<a href="https://qut.edu.au">
								<img src="img/QUT.jpg" id="footerImg" style="max-width:150px;"/>
							</a>
							<p> This is a multilingual noticeboard created by team WeCAN 
								for our Capstone Project. We aim to make a noticeboard to support any type
								of plugin and provde the user of the site with a manual of how to use it
								them selves.
							</p>
						</div>
						<div class="col-lg-2 col-md-4 footer-links">
							<h4>Useful links</h4>
							<ul>
								<li><a href="https://qut.edu.au" style="color:white;">QUT Home</a></li>
								<li><a href="https://qut.edu.au" style="color:white;">QUT Blackboard</a></li>
								<li><a href="https://qut.edu.au" style="color:white;">QUT</a></li>
							</ul>
						</div>
						<div class="col-lg-5 col-md-5 fotter-contact">
							<h3>Contact Us</h3>
							<p>
								<strong>Team:</strong> WeCAN<br>
								<strong>Phone:</strong> +61 123 456 789<br>
								<strong>Email:</strong> contactus@someemail.com.au<br>
							</p>
							<div class="social-links">
								<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" class="twitter"><i class="fa fa-facebook"></i></a>
								<a href="#" class="twitter"><i class="fa fa-instagram"></i></a>
								<a href="#" class="twitter"><i class="fa fa-google-plus"></i></a>
								<a href="#" class="twitter"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>


    </body>
</html>
